<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdtu.simpleexamine.mapper.AreaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdtu.simpleexamine.pojo.dbo.Area">
        <id column="area_id" property="areaId" />
        <result column="area_name" property="areaName" />
        <result column="area_address" property="areaAddress" />
        <result column="area_desc" property="areaDesc" />
        <result column="area_stat" property="areaStat" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
        <collection property="lines" ofType="com.cdtu.simpleexamine.pojo.dbo.Line">
            <id column="line_id" property="lineId" />
            <result column="line_name" property="lineName" />
        </collection>
    </resultMap>

    <sql id="baseColumns">
        area_id, area_name, area_address, area_desc, area_stat, create_time, create_by, update_time, update_by
    </sql>

    <select id="selectByPage" parameterType="com.cdtu.simpleexamine.pojo.Page" resultMap="BaseResultMap">
        select <include refid="baseColumns" /> from area
        limit #{beginRows}, #{pageSize}
    </select>

    <select id="selectBySearch" resultMap="BaseResultMap">
        select <include refid="baseColumns" /> from area
        where area_id = #{search}
        limit #{beginRows}, #{pageSize}
    </select>

    <select id="selectAllAndLine" resultMap="BaseResultMap">
        select a.area_id, a.area_name, l.line_id, l.line_name from area a left join line l on a.area_id = l.line_area
    </select>

</mapper>
