<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdtu.simpleexamine.mapper.AttenMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdtu.simpleexamine.pojo.dbo.Atten">
        <id column="atten_id" property="attenId" />
        <result column="atten_staff" property="attenStaff" />
        <result column="atten_desc" property="attenDesc" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <sql id="baseColumns">
        atten_id, atten_staff, atten_desc, create_time, create_by, update_time, update_by
    </sql>

    <select id="selectByPage" parameterType="com.cdtu.simpleexamine.pojo.Page" resultMap="BaseResultMap">
        select <include refid="baseColumns" /> from atten
        limit #{beginRows}, #{pageSize}
    </select>

    <select id="selectBySearch" resultMap="BaseResultMap">
        select <include refid="baseColumns" /> from atten
        where atten_id = #{search}
        limit #{beginRows}, #{pageSize}
    </select>

</mapper>
