<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdtu.simpleexamine.mapper.DeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdtu.simpleexamine.pojo.dbo.Dept">
        <id column="dept_id" property="deptId" />
        <result column="dept_name" property="deptName" />
        <result column="dept_desc" property="deptDesc" />
        <result column="dept_stat" property="deptStat" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        dept_id, dept_name, dept_desc, dept_stat
    </sql>

    <select id="selectByPage" parameterType="com.cdtu.simpleexamine.pojo.Page" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from dept
        limit #{beginRows}, #{pageSize}
    </select>

    <select id="selectBySearch" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from dept
        where dept_id = #{search}
        limit #{beginRows}, #{pageSize}
    </select>

</mapper>
