<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdtu.simpleexamine.mapper.PermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cdtu.simpleexamine.pojo.dbo.Permission">
        <id column="permission_id" property="permissionId" />
        <result column="permission_name" property="permissionName" />
        <result column="permission_module" property="permissionModule"/>
        <result column="permission_desc" property="permissionDesc" />
        <result column="permission_statu" property="permissionStatu" />
        <result column="update_time" property="updateTime"/>
        <association property="module" javaType="com.cdtu.simpleexamine.pojo.dbo.Module">
            <id column="module_id" property="moduleId"/>
            <result column="module_name" property="moduleName"/>
        </association>
    </resultMap>

    <select id="selectListByAdminId" parameterType="String" resultMap="BaseResultMap">
        select permission_name from permission p, admin_roles ar, roles_permission rp, admin a, roles r
        <where>
            p.permission_id = rp.permission_id and a.admin_id = ar.admin_id and ar.role_id = r.role_id
            and rp.role_id = r.role_id
            and a.admin_id = #{adminId}
        </where>
    </select>

    <select id="selectListByRoleId" parameterType="Integer" resultMap="BaseResultMap">
        select p.permission_id, p.permission_name, p.permission_desc, p.permission_statu
        from permission p, roles r, roles_permission rp
        <where>
             p.permission_id = rp.permission_id
             and r.role_id = rp.role_id
             and r.role_id = #{roleId}
        </where>
    </select>

    <select id="selectByPage" resultMap="BaseResultMap">
        select p.permission_id, p.permission_name, p.permission_module, p.permission_desc, p.permission_statu, p.update_time, m.module_id, m.module_name
        from permission p
        left join module m on p.permission_module = m.module_id
        ${ew.customSqlSegment}
    </select>

</mapper>
